 /*Clase para el contenedor global*/
.container{
 width: 100%;
 margin: auto; /*forza a centrado horizontal en la ventana*/
}
 /*Observa que usamos medidas dinámicas*/
 section{ 
     background: #F9F5C9;
     margin: 1% 0;
     padding: 1% 0;
 }
 
 /*Clase usamos para interrupir la flotación*/
 .clear{ clear: both;}

.col2{
	background: pink;
	width: 100%;
	margin: 1% 0;
	float: left; /*ignora la altura de los elementos contenidos*/
	padding: 1%;
	box-sizing: border-box; /*No toma en cuenta el tamaño del padding*/
}

.col3{
	background: pink;
	width: 100%;
	margin: 1% 0;
	float: left; /*ignora la altura de los elementos contenidos*/
	padding: 1%;
	box-sizing: border-box; /*No toma en cuenta el tamaño del padding*/
}

.col5{
	background: pink;
	width: 100%;
	margin: 1% 0;
	float: left; /*ignora la altura de los elementos contenidos*/
	padding: 1%;
	box-sizing: border-box; /*No toma en cuenta el tamaño del padding*/
}

nav ul{
	margin: auto;
	width: 100%;
	background: cyan;
	padding: 0;
}

nav ul li{
	text-align: center;
	width: 33.33%;
	background: lightpink;
	list-style: none;
	padding: 10px 0;
	float: left;
}

	nav ul li:hover{
		background: #E44DFE;
	}

nav ul li a{
	text-decoration: none;
	color: darkblue;
}

/*REGLAS PARA RESPONSIVE WEN DESIGN*/
@media screen and (min-width: 768px){
	.container{
		width: 80%;
	}
	.col2{
		width: 50%;
	}
	.col3{
		width: 33.33%;
	}
	.col5{
		width: 20%;
	}
	nav ul{
		width: 450px;
	}
}
