.col2{
	background: pink;
	width: 50%;
	margin: 1% 0;
	float: left; /*ignora la altura de los elementos contenidos*/
	padding: 1%;
	box-sizing: border-box; /*No toma en cuenta el tamaño del padding*/
}

.col3{
	background: pink;
	width: 33.3%;
	margin: 1% 0;
	float: left; /*ignora la altura de los elementos contenidos*/
	padding: 1%;
	box-sizing: border-box; /*No toma en cuenta el tamaño del padding*/
}

.col5{
	background: pink;
	width: 20%;
	margin: 1% 0;
	float: left; /*ignora la altura de los elementos contenidos*/
	padding: 1%;
	box-sizing: border-box; /*No toma en cuenta el tamaño del padding*/
}

